.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 3px ridge;
    min-height:200px;
}

.selection-row {
    padding: 15px 0px 15px 0px;
    border-bottom: 3px ridge;
}

.space {
    margin: 0px 0px 20px 0px;
}

.well_in {
    background-color: white;
}